.deadcompanyBox{
    min-height: calc(100vh - 220px) !important;
    @media screen and (min-width:768px) and (max-width:992px){
        min-height: calc(100vh - 160px) !important;
    }
    @media screen and (max-width:527px){
        min-height: calc(100vh - 160px) !important;
    }
}
.container {
    height: 100vh;
    padding: 20px 0;
    .bgImgContainer {
        height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            display: block;
            margin: auto;
            height: 420px;
            object-fit: cover;
        }
    }
}
