.container {
  height: 100vh;
  padding: 20px 0;
}

.container .bgImgContainer {
  height: calc(100vh - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .bgImgContainer img {
  display: block;
  margin: auto;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=home.module.css.map */