.ComingSoonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.ComingSoonContainer .ComingSoonImage {
  display: block;
  margin: auto;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=comingSoon.module.css.map */