.Navbar {
    background-color: rgb(77, 77, 77);
    border-radius: 8px;
    padding: 25px 50px;
    margin: 25px 35px;
    .logos {
        justify-content: space-between;
        .connectBtn {
            font-size: 16px;
            height: 40px;
            width: 134px;
            border-radius: 6px;
            background: #ffb503;
            border: none;
        }
        .navBrand {
            margin: 0 30px 0 0 !important;
        }
        .navBrand img {
            width: 30px;
            height: 30px;
        }
        .navBrand .crossLogo {
            width: 20px;
            height: 20px;
        }
    }
}
        .nftflexButton{
            width: 100%;
            text-align: center;
            display: block;
            button{
                margin: 5px auto;            
                border-radius: 6px;
                background-color: var(--color-lyme);
                color: var(--color-dark);
                border: none;
                cursor: pointer;
                padding: 12px 20px;
                border: 1px solid transparent;
                font-weight: 600;
                font-size: 16px; 
                &:hover{
                    border: 1px solid var(--color-lyme);
                    color: var(--color-lyme) !important;
                    background-color: transparent;
                }
            }
        }