.faq {
    color: var(--color-white);
    padding: 50px 0;
    @media only screen and (max-width: 428px) {
        padding: 30px 0;
      }
  .title {
    font-size: 60px;
    font-family: Quantico-normal;
    text-align: center;
    @media only screen and (max-width: 428px) {
        font-size: 40px;
      }
  }
  .row{
      margin-top: 100px;
      justify-content: space-between;
      align-items: center;
      @media only screen and (max-width: 428px) {
        margin-top: 40px;
      }
      .banner_div{
          width: 100%;
         
          img{
              height: 100%;
              width: 100%;
          }
      }
  }
}
