.shopDataSection{
    h3{
        font-weight: 300;
        color: #fff;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        @media screen and (max-width:527px){
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .shopItems{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item{
            margin: 15px 0px;
            width: calc((100% / 4) - 30px);
            border: 5px solid var(--color-lyme);
            height: initial;
            // @media screen and (min-width:528px) and (max-width:1024px){
            //     width: calc((100% / 2) - 15px);
            // }
            @media screen and (max-width:527px){
                width: calc((100% / 2) - 15px);
            }
            // &:nth-child(1),&:nth-child(3){
            //     img{
            //         height: 284px;
            //     }
            // }
            img{
                object-fit: cover;
                width: 100%;
                min-height: 100%;
                @media screen and (max-width:527px){
                    // height: 170px !important;
                }
            }
        }
    }
}