@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin-bottom: 0 !important;
}
body {
  background: #1b1f22 !important;
}

:root {
  --color-bg: #1b1f22;
  --color-lyme: #ffb503;
  --color-light: #ffffff2b;
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-white: #ffffff;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-light) ;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-lyme);
}
@font-face {
  font-family: poppins-bold;
  src: url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Quantico-normal;
  src: url("./assets/fonts/Quantico-Regular.ttf");
}
@font-face {
  font-family: Quantico-bold;
  src: url("./assets/fonts/Quantico-Bold.ttf");
}
/******************************/
/*           NAV BAR         */
/*****************************/
.app-header {
  background-color: var(--color-light);
  border-radius: 8px;
  padding: 0 40px;
  @media only screen and (max-width: 992px) {
    padding: 0 20px;
  }
  .navbar {
    justify-content: space-between;
    min-height: 80px;
    @media only screen and (max-width: 992px) {
      min-height: 60px;
    }
    .navbar-toggler{
      border: none;
      box-shadow: none;
      &:focus{
        box-shadow: none; 
      }
      .navbar-toggler-icon{
        background-image: url('./assets/images/icons/menu-x-solid.svg');
        background-size: auto; 
      }
      &.collapsed{
        .navbar-toggler-icon{
          background-image: url('./assets/images/icons/menu-bars-solid.svg');
          background-size: auto;
        }
      }
    }
    .logo-div {
      width: 35px;
      display: none;
      @media only screen and (max-width: 992px) {
        display: block;
      }
      img {
        width: 100%;
      }
    }
    .social-icons {
      display: flex;
      flex: 1;
      @media only screen and (max-width: 992px) {
        display: none;
      }
      img {
        width: 35px;
        margin-right: 40px;
      }
    }
    .navbar-collapse {
      flex-grow: unset;
      flex: 1;
      justify-content: center;
      // margin: 15px 0px 10px;
      @media only screen and (max-width: 992px) {
        flex: unset;
        flex-basis: 100%;
      }
      .img-div {
        width: 150px;
        img {
          height: 100%;
          width: 100%;
          background-size: contain;
        }
        @media only screen and (max-width: 991.99px) {
          margin: 10px auto;
        }
      }
      .sm-menu {
        display: none;
        .nav-link{
          width: 100%;
          color: var(--color-white);
          text-align: center;
        }
        .nav-link:hover{
          background-color: var(--color-lyme);
        }
        .nav-social-icons {
          display: flex;
          @media only screen and (max-width: 991.99px) {
            margin-top: 10px;
          }
          a{
            font-size: 30px;
            color: var(--color-lyme);
            padding: 0px 10px;
          }
          img {
            width: 24px;
            margin: 6px 10px;
          }
        }
        @media only screen and (max-width: 991.99px) {
          display: block;
          align-items: center;
          display: flex;
          flex-direction: column;
        }
      }
    }
    .menu-dropdown {
      display: block;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      @media only screen and (max-width: 992px) {
        display: none;
      }
    }
    .header-bttn {
      background-color: var(--color-lyme);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      font-size: 16px;
      color: var(--color-dark) !important;
      width: 160px;
      height: 50px;
      text-transform: uppercase;
      font-weight: 600;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover{
        border: 1px solid var(--color-lyme);
        color: var(--color-lyme) !important;
        background-color: transparent;
      }
    }
    .dropdown {
      .dropdown-toggle::after {
        display: none;
      }
      .nav-link{
        padding: 10px 0px 0px;
          svg{
            padding-left: 25px;
            font-size: 30px;
            color: var(--color-lyme)
          }
          .fa-x{
            font-size: 35px;
          }
      }
      .dropdown-menu {
        width: 250px;
        left: -172px;
        top: 80px;
        padding: 0.5rem 0;
        margin: 0;
        font-size: 1rem;
        background-color: #414447 !important;
        border-radius: 8px;
        z-index: 1;
        .dropdown-item {
          font-weight: 600;
          color: var(--color-white);
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          background-color: transparent;
          &:hover{
            background-color: var(--color-lyme);
            color: var(--color-dark);
          }
        }
      }
      .collasible-nav-dropdown {
      }
    }
    .dropdown{
      &.show{
        
      }
    }
  }
}

/******************************/
/*           NAV BAR         */
/*****************************/
/*******************/
/*    APP SLIDER   */
/*******************/
.app-slider {
  .slider-title {
    font-family: Quantico-normal;
    font-size: 60px;
    color: var(--color-white);
    text-align: center;
    @media only screen and (max-width: 428px) {
      font-size: 40px;
    }
  }
  .carousel {
    .carousel-indicators {
      right: 0;
      top: 0;
      justify-content: flex-end;
      margin-right: 0;
    }
    .carousel-indicators [data-bs-target] {
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background-color: #fff;
      opacity: 1;
    }
    .carousel-indicators .active {
      width: 18px;
      height: 7px;
      border-radius: 45%;
      background-color: var(--color-lyme);
      opacity: 1;
    }
    .carousel-inner {
      .carousel-item {
        // align-items: center;
        min-height: 200px;
        height: auto;
        @media screen and (min-width:768px) and (max-width:992px){
            min-height: 320px;
        }
        .heighlight {
          font-size: 40px;
          font-family: Quantico-normal;
          color: var(--color-lyme);
          text-align: left;
          line-height: 26px;
          margin-top: 60px;
          text-align: center;
          @media only screen and (max-width: 428px) {
            font-size: 30px;
            text-align: center;
            margin-top: 30px;
          }
          .slider-desc {
            color: var(--color-white);
            font-size: 14px;
            font-family: poppins;
            font-weight: 300;
          }
        }
      }
    }
  }
}

/******************************/
/*          APP SLIDER       */
/*****************************/
/******************************/
/*          ACCORDION        */
/*****************************/
.faq-content {
  .accordion {
    .accordion-item {
      background-color: transparent;
      border: none;
      .accordion-header {
        font-family: Quantico-normal;
        .accordion-button {
          background-color: transparent;
          color: var(--color-white);
          font-size: 20px;
          padding: 1rem 0;
          justify-content: space-between;
          @media only screen and (max-width: 428px) {
            font-size: 16px;
          }
        }
        .accordion-button:not(.collapsed)::after {
          background-image: url("./assets/images/icons/up.svg");
        }
        .accordion-button::after {
          background-image: url("./assets/images/icons/down.svg");
          margin-left: 15px;
        }
        .accordion-button:not(.collapsed) {
          color: var(--color-lyme);
          background-color: transparent;
          box-shadow: unset;
        }
        .accordion-button:focus {
          border-color: unset;
          box-shadow: unset;
        }
      }
      .accordion-collapse {
        .accordion-body {
          font-size: 14px;
          font-family: poppins;
          font-weight: 300;
        }
      }
    }
  }
}

/******************************/
/*          ACCORDION        */
/*****************************/
